# Pin Assignments to match PCB netlist
PIN "o_fifo_si"	    LOC = P1 ;
PIN "o_fifo_sob"    LOC = P2 ;
PIN "o_fifo_oeb"    LOC = P3 ;
PIN "o_fifo_reset"  LOC = P4 ;
PIN "clk"	    LOC = P5 ; # GCK1
PIN "a0"	    LOC = P6 ; # GCK2
PIN "a1"	    LOC = P7 ; # GCK3
PIN "a4"	    LOC = P8 ;
PIN "a5"	    LOC = P9 ;
PIN "a6"            LOC = P11 ;
PIN "a7"            LOC = P12 ;
PIN "a8"            LOC = P13 ;
PIN "a9"	    LOC = P14 ;
PIN "a10"           LOC = P18 ;
PIN "a11"	    LOC = P19 ;
PIN "a12"	    LOC = P20 ;
PIN "a13"    	    LOC = P22 ;
PIN "a14"    	    LOC = P24 ;
PIN "a15"    	    LOC = P25 ;
PIN "data[7]"	    LOC = P26 ;
PIN "data[6]"	    LOC = P27 ;
PIN "data[5]"       LOC = P28 ;
PIN "data[4]"	    LOC = P29 ;
PIN "data[3]"       LOC = P33 ;
PIN "data[2]"	    LOC = P34 ;
PIN "data[1]"	    LOC = P35 ;
PIN "data[0]"	    LOC = P36 ;
PIN "fifo_host_dor" LOC = P37 ;
PIN "fifo_host_dir" LOC = P38 ;
PIN "reset_b"       LOC = P39 ; # GSR
PIN "ioreq_b"       LOC = P40 ; # GTS2
PIN "wr_b"          LOC = P42 ; # GTS1
PIN "wait_b"        LOC = P43 ;        
PIN "rd_b"	    LOC = P44 ;
